<nav class="navbar navbar-expand-lg navbar-light " style="background-color:#8134AF;">
    <img src="https://img.icons8.com/fluency/48/000000/instagram-new.png" />
    <a class="navbar-brand" href="#" id="ig-text">Instagram</a>
    <a style="color:black;" href="/admin" id="ig-text" class="nav-item text-black" active-color="black"><i
            class="fas fa-user-tie text-white"></i>&nbsp; &nbsp;Admin</a>&nbsp; &nbsp;

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">

                <a class="nav-link active text-black" id="ig-text" aria-current="page" href="/"><i
                        class="fa fa-home fa-fw text-white" aria-hidden="true"></i>&nbsp;Home</a>
            </li>
            <li class="nav-item">
            </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <i class="fa fa-search"></i>
        </form>
    </div>
    <div class="col-sm-6 col-md-6">
        {% if user.is_authenticated %}
        <ul>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-expanded="false">Account
                      <span class="caret"></span>
                  </a>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a href="#">Home</a>
              </li>
              <li>
                <a href="/accounts/password/change">Change Password</a>
              </li>
              <li>
                <a href="/logout">Logout</a>
              </li>
            </ul>
          </li>
        </ul>
        {% else %}
        <li>
          <a class='btn btn-default' href="/accounts/login">Login</a>
        </li>

        {% endif %}
      </div>
</nav>