
h1{
    color:#4D436B;
}
#bi-instagram{
    margin-left: 41vw;
    margin-top: -17vh;
    height:7vh;
}
#ig-text{
    /* font-family: 'Comforter Brush', cursive; */
font-family: 'Smooch', cursive;
color:#0F0F0F;
font-size:2.2vw;
}
#search-form{
    margin-left:6vw;
}