{%extends 'all-insta/base.html'%}
{% block content %}
{{block.super}}
<style>
.stories{
border-radius: 50%;
border: 3px solid rgb(221,42,123);
}
.side{
      margin-top:13vh;
      margin-right: -4vw;
}

</style>

<br>
<div class="container-fluid">
      
  <div class="row">
    <div class="insta">
      <div class="row img-stories">
        <div class="col-md-2">
            <img src="https://cdn.pixabay.com/photo/2015/11/22/19/04/crowd-1056764__340.jpg" height="90px"width="96px"class="stories">
        </div>
        <div class="col-md-2">
          <img src="https://cdn.pixabay.com/photo/2017/12/05/16/39/christmas-tree-2999722__340.jpg" height="90px"width="96px"class="stories">
      </div>
      <div class="col-md-2">
        <img src="https://cdn.pixabay.com/photo/2021/09/25/10/08/road-6654573__340.jpg" height="90px"width="96px"class="stories">
    </div>
    <div class="col-md-2">
      <img src="https://cdn.pixabay.com/photo/2011/12/13/14/31/earth-11015__340.jpg" height="90px"width="96px"class="stories">
    </div>
    <div class="col-md-2">
      <img src="https://cdn.pixabay.com/photo/2014/11/13/23/34/palace-530055__340.jpg" height="90px"width="96px"class="stories">
    </div>
    <div class="col-md-2">
      <img src="https://cdn.pixabay.com/photo/2017/09/03/17/26/woman-2711279__340.jpg" height="90px"width="96px"class="stories"><br><br>
    </div>
      </div>
      <div class="col-md-8">
            {% for pic in photo %}
        <div class="card" style="width: 30rem;">
          <img class="card-img-top" height="550px"src="{{pic.image.url}}" alt="{{pic.name}}">
          <div class="card-body">
            <p class="card-text">
              <h5><strong>{{pic.name}}</strong></h5>
                  <form action = "{% url 'like-image' %}"   method='POST'>
                        {% csrf_token %}
                        <input type="hidden" name="image_id" value="{{pic.id}}">
                        {%if user not in pic.liked.all %}
                        <button class="btn btn-success" type="submit">like</button>
                        {% else %}
                        <button class="" type="submit">Un-like</button>
                        {% endif %}
                  </form>
                 
            </p>
            <strong>{{pic.liked.all.count}}Like(s)</strong>
            <p class="card-text"><i class="fas fa-comment fa-2x"></i></p>
            
            <p class="card-text"><b>Caption:</b><i>{{pic.caption}}</i></p>
            {% for comment in comments %}
                  {% if comment.image.id == image.id %}
                  <div>
                      <a href="#" class="likes"><em style="font-size: 1.2rem;">{{comment.user}}</em></a>
                        <span class="post-link"><em style="font-size: 1.2rem;">{{comment.brief}}</em></span>
                  </div>
                  {% endif %}
            {% endfor %}
            <p class="card-text"><strong>Posted On:{{pic.date}} </strong></p>
          </div>
          <div class="card-footer" style="padding: 0;">
            <form role="add_comment" , action="">
                {% csrf_token%}
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Add a comment" name="comment"
                        style="font-size: 1.2rem; border: 0;">
                    <div class="input-group-btn">
                        <button class="btn" type="submit" style="font-size: 1.4rem;">Comment</button>
                    </div>
                </div>
            </form>
        </div>
        </div>
        {% endfor%}
      </div><hr>
    </div>
    <div class="col-md-4">
      <div class="side">
        <div class="d-flex align-img-right">
          {% if profile.profile_photo %}
          
          <img src="{{user.profile_photo.url}}" alt="" class="card-img-top">
          {%else%}
          <img src="https://cdn.pixabay.com/photo/2016/04/26/12/25/male-1354358__340.png" alt="My profile picture" height="200" width="400">
          {% endif %}
        </div>
        <p>{{ user.username }}</p>
        <div class="row">
          <form action="/profile/" method="post">
              <button class="btn btn-info  btn-md" type="submit" a href="/profile/"style=" background :#515BD4"value="add post" >Add Post</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


