{%extends 'all-insta/base.html'%}
{% block content %}
{{block.super}}
<h1 class="h1" style="font-family: 'Grand Hotel', cursive; color:#DD2A7B;font-size:3.5vw; margin-left: 45vw;margin-top: -1vh;">Instagram</h1>
<div style="float:left; width:20%;">
      <div class="container" style ="overflow: hidden;">

    
 
      <!-- <img id="bi-instagram" class="img-fluid" alt="Responsive image"src="https://img.icons8.com/glyph-neue/50/000000/instagram-new.png"/> -->

      {% for pic in photo %}

      <img src="{{pic.image.url}}" alt="" class="img-responsive" height="400px" width="400px">
      <h5>{{pic.name}}</h5>
      <p><b>{{pic.date}}</b></p>
      <form action = "{% url 'like-image' %}"   method='POST'>
            {% csrf_token %}
            <input type="hidden" name="image_id" value="{{pic.id}}">
            {%if user not in pic.liked.all %}
            <button class="btn btn-success" type="submit">like</button>
            {% else %}
            <button class="" type="submit">Un-like</button>
            {% endif %}
      </form>
      <strong>{{pic.liked.all.count}}Like(s)</strong>
      {% endfor %}
</div>
{% endblock %}



<!-- {% extends 'base.html' %}
{% load static %}
{% block content %}
<body
style ="background-image:url(https://image.freepik.com/free-photo/white-grey-marble-texture-background-natural-tile-stone-floor_38607-501.jpg);">


<div style="float:left; width:20%;">
<div class="container" style ="overflow: hidden;">


<h1 class="text-center"><b>HEY STRANGER</b></h1>
<div class = "row">
<div class="col-md-7">

{% for post in posts %}
<li class="jumbotron " style="padding-left:40px ; list-style-type: none; background-color:rgb(255, 255, 255);">                 
    <div class="card mb-8 bg-dark text-white">
        <div class="card-body">
 <div class="row p-2 card-title">
        <img src="{{post.user.profile.url}}" class="rounded-circle border ml-3 mt-2  mr-3"
            alt="{{post.user.user.username}}" width="35" height="35">
            <p class="p-2">{{post.user.user.username}}</p><br>
    </div>
    <img class="card-img-top" src="{{post.image.url}}" alt="{{post.name}}"width="400" height="400">
    <br>
    <div class="container">
        <b><p>CAPTION:{{post.caption}}</p></b>
   <b><i>This post has {{post.comments.count}}comments</i></b>
    {{comment.comment}}
    <a href="{% url 'comments' post.id %}"><button type="button" class="btn btn-light">view comments</button></a> <br>
</div>
</li>
{% endfor %}
</div>

<div class="col-md-3">
    <div style="float:right; width:80%; ">
    <h1>View Profiles</h1>
    {% for user in users %}
    <div class="row p-1" style="width: 18rem; border: 1px solid grey;">
        <img class="rounded-circle" src="{{ user.profile.profile.url }}" width="45px" height="45px">
        <p><span><a href="{% url 'user_profile' user.username  %}">{{user.username}}</a></span></p>
    </div>
    {% endfor %}
</div>
</div>
</div>
</body>
{% endblock % -->